@layer module, state;

:root {
  --font-family-body: var(--font-roboto), sans-serif;
  --default-font-size: 1.6rem;
}

/* Web Awesome variables */
.wa-custom-theme {
  --wa-font-size-scale: 1.6;
  --wa-border-radius-scale: 3;
  --wa-shadow-scale: 1.6;
  --wa-space-scale: 1.6;
  --wa-color-surface-default: var(--wa-color-neutral-20);
  
  --wa-font-family-body: var(--font-family-body);
  
  --wa-color-brand-20: #a6d0f0;
  --wa-color-brand-50: #0093ff;
  --wa-color-brand-60: #0083e5;

  --wa-form-control-border-radius: var(--wa-border-radius-l);
}