@layer module, state;

:root {
  --font-family-body: var(--font-nunito), sans-serif;
  --default-font-size: 1.6rem;
}

/* Web Awesome variables */
.wa-custom-theme {
  --wa-font-size-scale: 1.6;
  --wa-border-radius-scale: 3;
  --wa-shadow-scale: 1.6;
  --wa-space-scale: 1.6;
  
  --wa-font-family-body: var(--font-family-body);
  
  --wa-color-brand-90: #D6EFE3; /* #lighter */
  --wa-color-brand-80: #B6DAD1;
  --wa-color-brand-70: #95C6B6;
  --wa-color-brand-60: #75B1A0;
  --wa-color-brand-50: #549C89;
  --wa-color-brand-40: #428174;
  --wa-color-brand-30: #30665F;
  --wa-color-brand-20: #1E4C4B;
  --wa-color-brand-10: #0C3136; /* #darker */

  --wa-color-surface-default: var(--wa-color-brand-10);
  --wa-color-danger-fill-normal: var(--wa-color-danger-60);
  --wa-color-neutral-fill-loud: #FFF;

  --wa-form-control-border-radius: var(--wa-border-radius-l);
}