---
import Layout from '@/layouts/Layout.astro'

import type { AstroComponentFactory } from 'astro/runtime/server/index.js'

const { doc } = Astro.params
const docs = import.meta.glob('./*.md') as Record<
  string,
  () => Promise<{ default: AstroComponentFactory }>
>
const loadDoc = doc ? docs[`./${doc}.md`] : undefined

let Content: AstroComponentFactory | null = null

if (loadDoc) {
  const module = await loadDoc()
  Content = module.default
} else {
  Astro.response.status = 404
}
---

<Layout title={doc || 'Documentation'}>
  <h1>{doc}</h1>

  {Content ? <Content /> : <p>Document not found.</p>}
</Layout>