.is-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: none;
}

.is-hidden {
  display: none !important;
}
@media (min-width: 768px) {
  .is-hidden-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .is-hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .is-hidden-small {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .is-hidden-large {
    display: none !important;
  }
}