NODE_ENV=production

SITE=https://circulab.pt
PUBLIC_SUPABASE_PROJECT_ID=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=

PORT=4200

CAN_SUGGEST=true

BREVO_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=

BASEMAPS_API_KEY=