GOTRUE_MAILER_AUTOCONFIRM=false
GOTRUE_SMTP_HOST=smtp-relay.brevo.com
GOTRUE_MAILER_HOST=smtp-relay.brevo.com
GOTRUE_SMTP_PORT=587
GOTRUE_SMTP_USER=
GOTRUE_MAILER_PORT=587
GOTRUE_SMTP_PASS=
GOTRUE_MAILER_USER=
GOTRUE_MAILER_PASS=
GOTRUE_SMTP_ADMIN_EMAIL=
GOTRUE_SMTP_SENDER_NAME=
GOTRUE_MAILER_EMAIL_ADDRESS=
GOTRUE_MAILER_EXTERNAL_HOSTS=supabase.staging.circulab.pt,supabase-kong,staging.circulab.pt
GOTRUE_MAILER_NAME=
GOTRUE_HOOK_SEND_EMAIL_ENABLED=true
GOTRUE_HOOK_SEND_EMAIL_URI=https://circulab.pt/api/auth/send-email
GOTRUE_HOOK_SEND_EMAIL_SECRETS=v1,whsec_seu_secret_gerado_aqui