---
import Layout from '@/layouts/Layout.astro'
import { getResources } from '@/actions/resources'
import geojson from '@/utils/geojson'
const resources = await Astro.callAction(getResources, {})
---

<Layout title="Dashboard" fullWidth={true}>
  <h1>Dashboard</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Imagem</th>
        <th>Categoria</th>
        <th>Características</th>
        <th>Localização</th>
        <th>Endereço</th>
        <th>Código Postal</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Coordenadas</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {
        resources.data?.map((resource) => (
          <tr>
            <td>{ resource.title }</td>
            <td>{ resource.description }</td>
            <td>{ resource.images }</td>
            <td>{ resource.category_id }</td>
            <td>{ resource.characteristics_ids?.join(', ') }</td>
            <td>{ resource.locations.name }</td>
            <td>{ resource.locations.address }</td>
            <td>{ resource.locations.postal_code }</td>
            <td>{ resource.locations.email }</td>
            <td>{ resource.locations.phone }</td>
            <td>{ resource.get_geojson ? geojson.getLatitude(resource.get_geojson) : '' } { resource.get_geojson ? geojson.getLongitude(resource.get_geojson) : '' }</td>
            <td>{ resource.status }</td>
            <td>
              <wa-button variant="primary">Editar</wa-button>
              <wa-button variant="danger">Apagar</wa-button>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
