---
import Layout from '@/layouts/Layout.astro'
import { actions } from 'astro:actions'
import type { GeoJsonPoint, Json } from '@/types/database'

const markers = await Astro.callAction(actions.getMarkers, {})

function getLatitude(geojson: GeoJsonPoint | Json) {
  return (geojson as GeoJsonPoint).coordinates[1]
}

function getLongitude(geojson: GeoJsonPoint | Json) {
  return (geojson as GeoJsonPoint).coordinates[0]
}
---

<Layout title="Dashboard">
  <h1>Dashboard</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Imagem</th>
        <th>Categoria</th>
        <th>Características</th>
        <th>Localização</th>
        <th>Endereço</th>
        <th>Código Postal</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {
        markers.data?.map((marker) => (
          <tr>
            <td>{ marker.title }</td>
            <td>{ marker.description }</td>
            <td>{ marker.images }</td>
            <td>{ marker.category_id }</td>
            <td>{ marker.characteristics_ids?.join(', ') }</td>
            <td>{ marker.locations.name }</td>
            <td>{ marker.locations.address }</td>
            <td>{ marker.locations.postal_code }</td>
            <td>{ marker.locations.email }</td>
            <td>{ marker.locations.phone }</td>
            <td>{ marker.get_geojson ? getLatitude(marker.get_geojson) : '' }</td>
            <td>{ marker.get_geojson ? getLongitude(marker.get_geojson) : '' }</td>
            <td>
              <wa-button variant="primary">Editar</wa-button>
              <wa-button variant="danger">Apagar</wa-button>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
