---
import AddLayout from '@/layouts/AddLayout.astro'
import LocationForm from '@/components/pages/resources/LocationForm.vue'

---

<script>
import '@webawesome/button/button.js'
import '@webawesome/callout/callout.js'
import { localizeHref } from '@/paraglide/runtime.js'

window.addEventListener('submit-form', () => {
  window.location.href = localizeHref('/recursos/novo/resumo')
})
window.addEventListener('back', () => {
  window.location.href = localizeHref('/recursos/novo/descricao')
})
</script>
<AddLayout currentStep="location">
  <h2>Localização</h2>
  <LocationForm client:only="vue" />
</AddLayout>
