---
import AddLayout from '@/layouts/AddLayout.astro'
import Form from './_Form.vue'
import { fetchDB } from '@/utils/fetchDB'
import { localizeHref } from '@/paraglide/runtime.js'

let errorMessage = ''

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  if (formData.get('name') && formData.get('description') && formData.get('typology') && formData.get('category')) {
    return Astro.redirect(localizeHref('/dashboard/adicionar/localizacao'))
  } else {
    errorMessage = 'Tens de preencher todos os assinalados para continuar'
  }
}

const { data: typologies, error } = await fetchDB('typologies').select('*')
---


<AddLayout currentStep="description">
  <h2>Informação base</h2>
  {errorMessage && <wa-callout variant="danger">{errorMessage}</wa-callout>}
  <Form
    client:only="vue"
    typologies={typologies}
    formAction={Astro.url.pathname}
  />
</AddLayout>