---
import Layout from '@/layouts/Layout.astro'
import { m } from '@/paraglide/messages.js'
---

<Layout title={m['about.title']()}>
  <p>{m['about.title']()}</p>
  <p>{m.site_description()}</p>
  <p>{Astro.currentLocale}</p>
</Layout>