---
import Layout from '@/layouts/Layout.astro'
import { m } from '@/paraglide/messages.js'
import { fetchDB } from '@/utils/fetchDB'

import type { Database } from '@/types/supabase'
const { data: typologies, error } = await fetchDB('typologies', Astro).select('*')
---

<Layout title={m.site_title()}>
  <p>{m.site_description()}</p>
  <p>{m.map()}</p>

  {
    typologies ? (
      <ul>
        {typologies.map((item: Database['public']['Tables']['typologies']['Row']) => (
          <li>{item.name}</li>
        ))}
      </ul>
    ) : <p>No typologies found</p>
  }

</Layout>