---
import Layout from '@/layouts/Layout.astro'
import { actions } from 'astro:actions'


let errorMessage = ''
const ADMIN_EMAIL = import.meta.env.PUBLIC_ADMIN_EMAIL
const ADMIN_PASSWORD = import.meta.env.PUBLIC_ADMIN_PASSWORD

if (Astro.request.method === 'POST') {

  const formData = await Astro.request.formData()

  try {
    
    const {data, error} = await Astro.callAction(actions.signIn, formData)

    if (data?.success) {
      const hasAccessToDashboard = Astro.locals.user?.role === 'admin' || Astro.locals.user?.role === 'moderator'
      if (hasAccessToDashboard) {
        return Astro.redirect('/dashboard')
      } else {
        errorMessage = 'You do not have access to the dashboard'
      }
    } else {
      errorMessage = error?.message || 'Failed to sign in'
    }

  } catch (error: any) {
    console.error('Login error:', error)
    errorMessage = error.message
  }
}
---

<script>
  import '@awesome.me/webawesome/dist/components/button/button.js'
  import '@awesome.me/webawesome/dist/components/input/input.js'
</script>

<Layout title="Login">
  <div class="wrapper">
    <div class="container l-grid l-grid--s">
      <h1>Astro Appwrite Starter</h1>
      {errorMessage && <wa-alert variant="danger">{errorMessage}</wa-alert>}
      <form method="post">
        <wa-input
          id="email"
          type="email"
          name="email"
          required
          placeholder="Email"
          value={ADMIN_EMAIL}
          autofocus
        />
        <wa-input
          id="password"
          type="password"
          name="password"
          required
          placeholder="Password"
          value={ADMIN_PASSWORD}
        />
        <wa-button variant="primary" type="submit">Login</wa-button>
      </form>
    </div>
  </div>

</Layout>
