---
import Layout from '@/layouts/Layout.astro'
import { actions } from 'astro:actions'
import Grid from '@/components/ui/Grid.vue'
import Container from '@/components/ui/Container.vue'

let errorMessage = ''
const ADMIN_EMAIL = import.meta.env.PUBLIC_ADMIN_EMAIL
const ADMIN_PASSWORD = import.meta.env.PUBLIC_ADMIN_PASSWORD

if (Astro.request.method === 'POST') {

  const formData = await Astro.request.formData()

  try {

    const email = formData.get('email')
    const password = formData.get('password')
    if (!email || !password) {
      throw new Error('Email and password are required')
    }

        
    const { data: loginData, error: loginError } = await Astro.callAction(actions.signIn, formData)
    if (loginError) {
      throw new Error(loginError.message || 'Failed to sign in')
    }

    if (loginData?.success) {

      const hasAccessToDashboard = Astro.locals.user?.role_id === 2 || Astro.locals.user?.role_id === 3
      if (hasAccessToDashboard) {
        return Astro.redirect('/dashboard')
      } else {
        errorMessage = 'You do not have access to the dashboard'
      }
    } else {
      errorMessage = loginData?.message || 'Failed to sign in'
    }

  } catch (error: any) {
    console.error('Login error:', error)
    errorMessage = error.message
  }
}
---

<script>
  import '@awesome.me/webawesome/dist/components/button/button.js'
  import '@awesome.me/webawesome/dist/components/input/input.js'
</script>

<Layout title="Login">
  <Container width="xs">
    <h1>Login</h1>
    {errorMessage && <wa-alert variant="danger">{errorMessage}</wa-alert>}
    <form method="post">
      <Grid gap="s" direction="column">
        <wa-input
          id="email"
          type="email"
          name="email"
          required
          label="Email"
          placeholder="Email"
          value={ADMIN_EMAIL}
          autofocus
        />
        <wa-input
          id="password"
          type="password"
          name="password"
          label="Password"
          required
          placeholder="Password"
          value={ADMIN_PASSWORD}
        />
        <wa-button variant="primary" type="submit">Login</wa-button>
      </Grid>
    </form>
  </Container>
</Layout>
