---
import { m } from '@/paraglide/messages.js'
import { localizeHref, deLocalizeHref } from '@/paraglide/runtime.js'
import Grid from '@/components/ui/Grid.astro'

const path = deLocalizeHref(Astro.url.pathname + Astro.url.search)
const hrefEn = localizeHref(path, { locale: 'en' })
const hrefPt = localizeHref(path, { locale: 'pt' })
---

<header>

  <Grid justify="space-between" align="center">
    <a href="/">
      <h1>{m.site_title()}</h1>
    </a>
    <nav>
      <ul>
        <li>
          <a href={localizeHref('/about')}>{m['about.title']()}</a>
        </li>
        <li>
          <a href={localizeHref('/contacts')}>{m['contacts.title']()}</a>
        </li>
        <li>
          <a href={localizeHref('/docs')}>{m['docs.title']()}</a>
        </li>
      </ul>
    </nav>
    <div>
      <a href={hrefEn} class="btn-lang">EN</a>
      <a href={hrefPt} class="btn-lang">PT</a>
    </div>
  </Grid>
</header>

<script>
  import { setLocale } from '@/paraglide/runtime.js'

  document.querySelectorAll('a.btn-lang[data-set-locale]').forEach((el) => {
    el.addEventListener('click', (e) => {
      const locale = el.getAttribute('data-set-locale')
      if (locale !== 'en' && locale !== 'pt') return
      e.preventDefault()
      setLocale(/** @type {'en' | 'pt'} */ (locale))
    })
  })
</script>