---
import AddLayout from '@/layouts/AddLayout.astro'
import Grid from '@/components/ui/Grid.vue'
import { localizeHref } from '@/paraglide/runtime.js'

let errorMessage = ''

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const location = formData.get('location')
  if (location) {
    return Astro.redirect(localizeHref('/dashboard/adicionar/resumo'))
  } else {
    errorMessage = 'Tem de selecionar uma localização válida para continuar'
  }
}
---

<script>
import '@webawesome/input/input.js'
import '@webawesome/button/button.js'
import '@webawesome/callout/callout.js'
</script>
<AddLayout currentStep="location">
  <h2>Localização</h2>
  {errorMessage && <wa-callout variant="danger">{errorMessage}</wa-callout>}
  <form method="post">
    <Grid gap="xl" direction="column">
      <wa-input name="location" label="Localização" />
      <Grid justify="end" gap="xs">
        <wa-button variant="primary" appearance="outlined" href={localizeHref('/dashboard/adicionar/caracterizacao')}>Voltar</wa-button>
        <wa-button variant="primary" type="submit">Continuar</wa-button>
      </Grid>
    </Grid>
  </form>
</AddLayout>