---
import Layout from '@/layouts/Layout.astro'
import Wizard from '@/components/pages/resources/Wizard.vue'
import Container from '@/components/ui/Container.vue'
import Grid from '@/components/ui/Grid.vue'

const steps = [
  {
    path: '/recursos/novo',
    code: 'validation',
    label: 'Validação'
  },
  {
    path: '/recursos/novo/descricao',
    code: 'description',
    label: 'Descrição'
  },
  {
    path: '/recursos/novo/localizacao',
    code: 'location',
    label: 'Localização'
  },
  {
    path: '/recursos/novo/resumo',
    code: 'summary',
    label: 'Resumo'
  }
]

const currentStep = Astro.props.currentStep || 'validation'
---

<Layout title="Adicionar recurso">
  <Grid gap="xs" direction="column">
    <h1>Adicionar recurso</h1>
    <p>Adicione um novo recurso para partilhar com a comunidade.</p>
  </Grid>
  <Wizard client:only="vue" steps={steps} currentStep={currentStep} />
  <Container width="xs">
    <slot />
  </Container>
</Layout>

<style scoped>
h1 {
  font-size: var(--wa-font-size-2xl);
  font-weight: var(--wa-font-weight-semibold);
}
p {
  color: var(--wa-color-neutral-70);
}
</style>
