---
import AddLayout from '@/layouts/AddLayout.astro'
import DescriptionForm from '@/components/pages/resources/DescriptionForm.vue'
import { fetchDB } from '@/utils/fetchDB'
import { localizeHref } from '@/paraglide/runtime.js'

const { mode } = Astro.params
if (mode !== 'novo' && mode !== 'editar') {
  return new Response('Not Found', { status: 404 })
}

let errorMessage = ''

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const idQuery = mode === 'editar' ? `?id=${Astro.url.searchParams.get('id') || ''}` : ''
  if ((formData.get('title') || formData.get('name')) && formData.get('description') && formData.get('typology') && formData.get('category')) {
    return Astro.redirect(localizeHref(`/recursos/${mode}/localizacao${idQuery}`))
  } else {
    errorMessage = 'Tens de preencher todos os assinalados para continuar'
  }
}

const { data: typologies, error } = await fetchDB('typologies').select('*')
---

<AddLayout currentStep="description">
  <h2>Informação base</h2>
  {errorMessage && <wa-callout variant="danger">{errorMessage}</wa-callout>}
  <DescriptionForm
    client:only="vue"
    typologies={typologies}
  />
</AddLayout>
